.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: auto;
}

.swiper-button-next {
  background-image: url(../../images/right-angle.svg);
}

.swiper-button-prev {
  background-image: url(../../images/left-angle.svg);
}

.swiper-button-next,
.swiper-button-prev {
  background-color: rgb(38 38 38);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px;
  height: 100%;
  margin: 0;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.swiper-button-prev{
  left: 0;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-next:hover {
  background-image: url(../../images/right-angle-cyan.svg);
}

.swiper-button-prev:hover {
  background-image: url(../../images/left-angle-cyan.svg);
}

.swiper:hover .swiper-button-next,
.swiper:hover .swiper-button-prev {
  opacity: 0.4;
}

.swiper-button-disabled {
  opacity: 0 !important;
}
